@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: transparent !important;
    font-weight: 600 !important;
    background-color: #ff9900 !important;
    color: white !important;
}
li a:hover{
    color: white  !important;
}